<h2>Resend confirmation instructions</h2>
<div class="span4">
  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
      <%= devise_error_messages! %>
      <fieldset>
        <div class="control-group">
          <label class="control-label"><%= f.label :email %><br /></label>
          <div class="controls"><%= f.email_field :email %></div>
        </div>
        <div class="form-actions"><%= f.submit "Resend confirmation instructions", :class => " btn btn-primary" %></div>
      </fieldset>
  <% end %>
  <%= render "links" %>
</div>